# Data Science Tools and Ecosystem

# In this notebook Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientist use are:
1.Python
2.SQL
3.R
4.Julia
5.Scala

# Objectives:
List of popular languages for Data Science
-R
-SQL
-Python

# Some of the commonly used libraries used by Data Scientists include:
1.Pandas
2.NumPy
3.Matplotlib
4.Seaborn

| # Data Science Tools|
| ....................|
| Juypter Notebook |
| R-Studio |
| Apache Zeppelin |

### Below are few examples of evaluating arithematic expression in Python
Addition: 5 + 7
Subtraction: 8 - 4
Multiplication: 13 * 9
Exponent: 8 ** 2

In [1]:
# Simple arithematic expression to first multiply then add
(3*4)+5

17

In [3]:
# convert minute to hours by dividing by 60
time_in_minutes = 200
time_in_hours = time_in_minutes / 60
print(time_in_hours)

3.3333333333333335

In [ ]:
## Author
RITU RAJ